#container{
  width:100%;
  height: 97%;
}

#contentContainer{
  position:absolute; 
  width:80%;	
}

#titleContainer{
  height: 100px;
  width: 100%;
}

h1 {
  text-align: center;
}

#widgetContainer{
  position: absolute; 
  right: 10px; 
  width: 18%; 
  height: 98%;	
}

#minimapContainer{
  border-style: solid; 
  height:40%;
}

#followergraph{
  height: 500px; 
  overflow-y: scroll;
  overflow-x: hidden;
}

.fakelink{
  text-decoration-line: underline;
}

#floatingaxis {
  position:absolute; 
  top:547px;
}

#candidatewindow {
  margin-top:5px; 
  border-style: solid; 
  height:37%; 
  font-size:14px; 
  position:absolute; 
  top: 42%; 
  width: 98%;
  overflow-y: scroll; 
}

#questionairewindow {
  position:absolute; 
  margin-top:5px; 
  border-style: solid; 
  height:12%;
  width: 98%;
  float:left;
  top: 82%;
  overflow-y: auto;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 140px;					
  height: auto;					
  padding: 2px;				
  font: 12px times;
  font-weight: bold;
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;
  z-index: 2;
}

#minimap {
  cursor: grab;
  float:left; 
  width:60%; 
  padding-left:20px; 
  height:85%;
}

#minimap:active .slider-rect {
    opacity: 0.05;
    cursor: move;
}

.slider-rect {
    fill: #000;
    opacity: 0.3;
    cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: #2d3436;
	color: #dfe6e9;
	text-align: center;
	font-size: 12px;
	width: 99%;
	padding: 5px;
	box-sizing: border-box;
}

footer a {
  color: #dfe6e9;
}